{% extends "airline/base.html" %}
{% load tz %}

{% block content %}
<table class="table table-striped">
    <tbody>
        <tr>
            <th scope="col">Booking ID</th>
            <td scope="row">{{ object.id }}</td>
        </tr>
        <tr>
            <th scope="col">Booking date</th>
            <td scope="row">{{ object.booking_date }}</td>
        </tr>
        <tr>
            <th scope="col">Buyer</th>
            <td scope="row">{{ object.buyer }}</td>
        </tr>
        <tr>
            <th scope="col">Departure airport</th>
            <td>{{ object.flight.departure_airport }}</td>
        </tr>
        <tr>
            <th scope="col">Arrival airport</th>
            <td>{{ object.flight.arrival_airport }}</td>
        </tr>
        <tr>
            <th scope="col">Departure time</th>
            <td>{{ object.departure_date | timezone:object.flight.departure_tz | date:"Y-M-d H:i" }}</td>
        </tr>
        <tr>
            <th scope="col">Arrival time</th>
            <td>{{ object.arrival_date | timezone:object.flight.arrival_tz | date:"Y-M-d H:i" }}</td>
        </tr>
        <tr>
            <th scope="col">Duration</th>
            <td>{{ object.flight.duration }}</td>
        </tr>
        <tr>
            <th scope="col">Travellers</th>
            <td>{% for traveller in object.travellers.all %}{% if not forloop.first %}, {% endif %}{{ traveller }}{% endfor %}</td>
        </tr>
    </tbody>
</table>
{% endblock %}
