{% extends "airline/base.html" %}
{% load bootstrap4 %}

{% block content %}
<div class="mx-auto" style="width: 30rem;">
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form show_label=False %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">Login</button>
        {% endbuttons %}
    </form>
</div>
{% endblock %}
