{% extends "airline/base.html" %}
{% load tz %}
{% load bootstrap4 %}

{% block content %}
{{ booking.flight }} on {{ booking.departure_date | timezone:booking.flight.departure_tz | date:"Y-M-d H:i" }}
<div class="mx-auto" style="width: 30rem;">
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form show_label=False %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">Pay</button>
        {% endbuttons %}
    </form>
</div>
{% endblock %}
