{% extends "airline/base.html" %}

{% block content %}
<h1>Hello {{ object.name }}!</h1>

{% if next_trip %}
<p>Your next trip to {{ next_trip.flight.arrival_airport }} at {{ next_trip.departure_date }}.</p>
{% else %}
<p>You don't have any upcoming trip!</p>
{% endif %}
{% endblock %}
