{% extends "bank/base.html" %}
{% load bootstrap4 %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    {% bootstrap_form form show_label=False %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">Login</button>
    {% endbuttons %}
</form>
{% endblock %}
